.btn-save{
    /* falta agregar el font-family*/
    background-color: #7A5C4D;
    color: #FAF7F2;
    border: none;
    border-radius: 20px;
    padding: 10px 100px;
    width: 100%;
    margin-top: 20px;
    margin-bottom: 20px;
}
